 *{ 
  margin: 0;
}
body {
  background-color: rgb(31, 31, 31);
  margin-right: 0;
}
main{
  min-height: 800px;
}
.headerYFooter {
  background-color: rgb(12, 12, 12);
  display: flex;
  justify-content: space-between;
}
.footer__icons{
  width: 25px;
}
p {
  color: beige;
  font-family: Helvetica, sans-serif;
  font-weight:300;
  margin-top: 16px;
  margin-bottom: 16px;
}
/*  estilo para la cabecera de sección  */
.encabezado{ 
  background-image:url("../images/wall.jpg");
  background-size: cover;
  height: 15vh;
  margin-bottom:1%;
  }
  .encabezado__titulo{
    position:relative;
    top:2.5vh;
  }
/*  secciones con texto e imagen  */
h2 {
  color: #7157ce;
  font-family:'Bebas Neue', sans-serif;
  font-size: 9vh;
  text-align: center;
  text-shadow:2px 2px 4px beige; 
}
.slogan{
  color: #7157ce;
  font-family:'Allison', cursive;
  font-size: 9vh;
  text-align: center;
  text-shadow:2px 2px 4px beige; 
}
section {
  color: beige;
  padding: 1rem;
  margin-bottom: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}
.seccion__imagen--medidas300{
  width: 300px;
  }
.seccion__imagen--medidas350{
  width: 350px;
  height:200px ;
  }
.seccion__imagen--medida400{
    width: 400px;
    }
.articulo{
  display: inline-block;
  width:52rem;
  height: 40 rem;
}
.articulo__titulo{
  font-family: 'Allison', cursive;
  font-size: 4rem;
}
.articulo__parrafo--derecha{
  text-align: right;
}
.articulo__parrafo--izquierda{
  text-align: left;
}
.itemLista{
  color: beige;
  font-family: Helvetica, sans-serif;
  font-weight:300;
  margin-top: 16px;
  margin-bottom: 16px;
}
/* Fin secciones con texto e imagen  */

/*  estilo para el menu de navegación */
.menu{
    list-style-type:none;
    font-family: 'Bebas Neue', sans-serif;
    font-size:16px;
    color: beige;
    margin:16px;
}
.menu__item{
    display: inline-block;
}
.menu__item__link{
  text-decoration: none;
  color:beige;
  font-family: 'Bebas Neue', sans-serif;
}
a:hover{
  color: aquamarine;
}
 /*  fin estilo de menu de navegación  */
.centro{
  display: flex;
  justify-content: center;
}
.moduloContacto{
  
    position: relative;
    display: inline-block;
    width: 200px;
}
.pie{
    font-size: small;
}
.boton{
    font-family: 'Roboto', sans-serif;
    border-color: #7157ce;
    border-width: medium;
    background-color:#7157ce;
}
.seccionGaleria{
  display: inline-block;
  width: 30%;
  min-width:300px;
}
/*   Configuración de la portada con GRID   */
#grillaPortada{
     display: grid;
    grid-template-areas: "cabeza cabeza cabeza"
                        "img1 nota1 nota1"
                        "nota2 nota2 img2";
    grid-template-columns: 25% 50% 25%;
    grid-template-rows: auto auto auto;
    column-gap: 5px;
    margin:5px;
    color: beige;
}
#presentacion{
  background-image:url("../images/portada.png");
  background-size:cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 600px;
  display:flex;
  flex-flow: column nowrap;
  justify-content: center;
  grid-area: cabeza;
}
.nota1_img{
  grid-area: img1;
  align-self: center;
}
.nota2_img{
  grid-area: img2;
  align-self: center;
}
.grilla_img{
  object-fit: cover;
  width: 100%;
}
.nota1_texto{
  grid-area: nota1; 
}
.nota2_texto{
  grid-area: nota2;
}
/*   Fin Configuración de la portada con GRID   */