@import "variables.scss";

@mixin formatText($font,$size,$color){
  font-family: $font;
  font-size: $size;
  color: $color;
}
//Principal
body {
  background-color: rgb(31, 31, 31);
}
main{
   min-height: 800px;
}
header{
    background-color: $colorbase;
}
footer{
    background-color: $colorbase;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__icons{
    width: 25px;
}
.logo{
  width: 200px;
}
.slogan{
    @include formatText(('Allison', cursive),9vh,$colorsecundario);
    text-align: center;
    text-shadow:2px 2px 4px $colortexto; 
  }
p { 
    @include formatText($fuenteTexto,$fuenteTsize ,$colortexto);
    margin: 16px 5px 16px 5px;
    padding:0 2px;
}
  /*  estilo para la cabecera de sección  */
.encabezado{ 
    background-image:url("../images/ondatitulo.png");
    background-size:100% 25vh;
    margin-bottom:1%;
    height: 25vh;
    animation-name: zoomIn;
    animation-duration: 1.5s;
    animation-iteration-count: 1;
}
.encabezado__titulo{
      position:relative;
      top:4vh;
}
 
h1 {
    @include formatText(('Yellowtail',cursive),10vh,$colortexto);
    text-align: center;
    text-shadow:1px 1px 2px $colorsecundario; 
}
#portadatitulo{
    size:50vh;
}
section {
    color: $colortexto;
    padding: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.seccion__imagen--medidas300{
    width: 300px;
    height: 300px;
}
.seccion__imagen--medida400{
    width: 400px;
}
.arriba{
    background: linear-gradient(to top right, rgb(252, 80, 146) 0%, #3a4ed5 100%);
    background: -webkit-linear-gradient(to top right, rgb(252, 80, 146) 0%, #3a4ed5 100%);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent;
    display:scroll;
    position:fixed;
    bottom:50px;
    right:10px;
    @include formatText(('Yellowtail',cursive),5vh,$colortexto);
    text-align: center;
    visibility: hidden;  
}

.articulo{
     display: inline-block;
    max-width:50rem;
    height: 40 rem;
}
.articulo__titulo{
    @include formatText(('Allison', cursive),4rem,$colortexto);
}
.itemLista{
    @include formatText($fuenteTexto,$fuenteTsize,$colortexto);
    margin-top: 16px;
    margin-bottom: 16px;
}
 
  
.seccionGaleria{
    display: inline-block;
    width: 25%;
    width:302px;
    height: 100%;
    margin:10px 0px;
    align-self: stretch;
    background-color:black;box-shadow:0 .125rem .25rem rgba(223, 220, 220, 0.521)
}
.card-img-top:hover {
    opacity:0.5;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -o-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    transition: opacity 500ms;
  }
 
#fondoespecial{
    background-color: $colorbase;
}
.pie{
    font-size: small;
}